workflows1/Ferias - Periodo Gozo - Fila.json
{
  "updatedAt": "2025-11-21T03:10:22.998Z",
  "createdAt": "2025-10-18T20:49:49.628Z",
  "id": "CUmdJR0kr6bKEuly",
  "name": "Ferias - Periodo Gozo - Fila",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/app-login/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"username\": \"integracao\",  \"password\": \"J!F@m3a4m5j6\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -48,
        192
      ],
      "id": "358bd226-3744-423a-9703-1ae4510c9cdc",
      "name": "TokenDirhect"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/feriasperiodogozo/bulk-upsert/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.data }}",
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        192
      ],
      "id": "eb59c075-dcc0-46f7-a4bb-ad3b211f0ba7",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const cleanedData = {};\n\n    for (const key in item.json) {\n        const value = item.json[key];\n        \n        if (value !== null && value !== \"null\" && value !== undefined && value !== \"undefined\") {\n            cleanedData[key] = value;\n        }\n    }\n\n    return cleanedData; // Mudança principal: sem encapsular\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        128
      ],
      "id": "70690d67-4781-4afd-a78a-15ea9cfaf712",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"periodo_aquisitivo__funcionario__chapa\": \"{{ $json.CHAPA }}\",\n  \"periodo_aquisitivo__fimperaquis\": \"{{ $json.FIMPERAQUIS.split('T')[0] }}\",\n  \"dt_inicio\": \"{{ $('FERIAS').item.json.DATAINICIO.split('T')[0] }}\",\n  \"dt_fim\": \"{{ $('FERIAS').item.json.DATAFIM.split('T')[0] }}\",\n  \"datapagamento\": \"{{ $('FERIAS').item.json.DATAPAGTO.split('T')[0] }}\",\n  \"nrodiasferias\": \"{{ $('FERIAS').item.json.NRODIASFERIAS }}\",\n  \"nrodiasabono\": \"{{ $('FERIAS').item.json.NRODIASABONO ?? 0 }}\",\n  \"abono_pecuniario\": {{ Number($('FERIAS').item.json.NRODIASABONO || 0) > 0 }},\n  \"situacaoferias\": \"{{ $('FERIAS').item.json.SITUACAOFERIAS }}\",\n  \"ferias_coletivas\": {{ $('FERIAS').item.json.FERIASCOLETIVAS ?? null }},\n  \"adiantar_13\": {{ $('FERIAS').item.json.PAGA1APARC13O ?? null }},\n  \"aviso_ferias\": \"{{ $('FERIAS').item.json.DATAAVISO ? $('FERIAS').item.json.DATAAVISO.split('T')[0] : null }}\",\n  \"observacao\": \"{{ $('FERIAS').item.json.OBSERVACAO ?? null }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        128
      ],
      "id": "71fc4bc0-4193-4784-bbc0-1223f8bf111f",
      "name": "De Para"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1072,
        128
      ],
      "id": "472a2463-28c8-45f1-914d-41dcef80ba05",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        192
      ],
      "id": "3c3fee60-b134-4257-bf39-7630fed3ba65",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"referencias\": {\n    \"tarefa_id\": \"{{ $json.body.referencias.tarefa_id }}\",\n    \"tenant_id\": \"{{ $json.body.referencias.tenant_id }}\",\n    \"tenant_nome\": \"{{ $json.body.referencias.tenant_nome }}\",\n    \"tenant_domain\": \"{{ $json.body.referencias.tenant_domain }}\",\n    \"tenant_schema\": \"{{ $json.body.referencias.tenant_schema }}\"\n  },\n  \"sistema_origem\": {\n    \"servidor\": \"{{ $json.body.sistema_origem.servidor }}\",\n    \"porta_soap\":{{ $json.body.sistema_origem.porta_soap }},\n    \"porta_rest\": {{ $json.body.sistema_origem.porta_rest }},\n    \"autorizacao\": \"{{ $json.body.sistema_origem.autorizacao }}\",\n    \"coligada\": {{ $json.body.sistema_origem.coligada }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        192
      ],
      "id": "f99be072-f964-474e-8eca-c74870e1d883",
      "name": "Credenciais"
    },
    {
      "parameters": {
        "queue": "prod_RH_feriasgozo",
        "options": {
          "headers": {
            "header": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "jsonParseBody": true,
          "onlyContent": true,
          "parallelMessages": 10
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        96
      ],
      "id": "99c4c4f3-de93-427c-81aa-f1dbbb1320c8",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "HLRdbyi6jq8xkCIj",
          "name": "RabbitMQ Produção"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        288
      ],
      "id": "3340ed0d-27e7-4ef3-8140-c0d43649e0cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1952,
        208
      ],
      "id": "50a4bac7-05d7-4d8f-9ff7-c93ff7145fee",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "error.message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1728,
        208
      ],
      "id": "56390747-7584-4dd0-a370-281001445f31",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "url": "={{ $('Credenciais').item.json.sistema_origem.servidor }}:{{ $('Credenciais').item.json.sistema_origem.porta_rest }}/api/framework/v1/consultaSQLServer/RealizaConsulta/DRHAPI_FERIASPER/0/P?parameters=CODCOLIGADA%3D{{ $('Credenciais').item.json.sistema_origem.coligada }}%3BDATAMOD%3D1988-09-01",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=['PFUFERIASPER.CODCOLIGADA=:COLIGADA','{{ $('Credenciais').item.json.sistema_origem.coligada }}']"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Credenciais').item.json.sistema_origem.autorizacao }}"
            },
            {
              "name": "CODCOLIGADA",
              "value": "={{ $('Credenciais').item.json.sistema_origem.coligada }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "2b56d9d3-2eb4-4962-a831-f25623224624",
      "name": "FERIAS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        192
      ]
    },
    {
      "parameters": {
        "queue": "prod_painelintegracao_ferias",
        "options": {
          "durable": true,
          "headers": {
            "header": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        1328,
        -128
      ],
      "id": "1a650273-8650-4ed8-9a94-6dbc0e952709",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "HLRdbyi6jq8xkCIj",
          "name": "RabbitMQ Produção"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"body\":{{ $('Credenciais').all()[0].json }}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -128
      ],
      "id": "1a9c3b7b-d602-435b-9424-55ea37e4e68e",
      "name": "Sequenciar"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        -128
      ],
      "id": "5b595c9d-25cb-47be-b76e-297c9ed5867d",
      "name": "Aggregate1"
    }
  ],
  "connections": {
    "TokenDirhect": {
      "main": [
        [
          {
            "node": "FERIAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "De Para": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "De Para",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credenciais": {
      "main": [
        [
          {
            "node": "TokenDirhect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FERIAS": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequenciar": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Sequenciar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "49057606-c0b9-40ea-ba69-8eb11676ebaa",
  "activeVersionId": "49057606-c0b9-40ea-ba69-8eb11676ebaa",
  "versionCounter": 138,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-18T20:49:49.628Z",
      "createdAt": "2025-10-18T20:49:49.628Z",
      "role": "workflow:owner",
      "workflowId": "CUmdJR0kr6bKEuly",
      "projectId": "cJj10Rj257oQ172p",
      "project": {
        "updatedAt": "2025-09-07T13:33:24.498Z",
        "createdAt": "2025-09-07T13:31:44.205Z",
        "id": "cJj10Rj257oQ172p",
        "name": "Integração Produção <integracao_producao@dirhect.com.br>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}