workflows1/Painel Integração - Ferias.json
{
  "updatedAt": "2025-11-21T03:24:04.954Z",
  "createdAt": "2025-11-19T17:24:53.088Z",
  "id": "7VnSE8beJ1Qd75Y1",
  "name": "Painel Integração - Ferias",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.referencias.tenant_domain }}/api/app-login/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"username\": \"integracao\",  \"password\": \"J!F@m3a4m5j6\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        16
      ],
      "id": "e3b62ba8-0722-40fb-9465-b1593fc15cfb",
      "name": "TokenDirhect"
    },
    {
      "parameters": {
        "url": "={{ $('Credenciais').item.json.sistema_origem.servidor }}:{{ $('Credenciais').item.json.sistema_origem.porta_rest }}/api/framework/v1/consultaSQLServer/RealizaConsulta/DRHAPI_FERIASAQS/0/P?parameters=CODCOLIGADA%3D{{ $('Credenciais').item.json.sistema_origem.coligada }}%3BDATAMOD%3D1900-09-01",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Credenciais').item.json.sistema_origem.autorizacao }}"
            },
            {
              "name": "COLIGADA",
              "value": "={{ $('Credenciais').item.json.sistema_origem.coligada }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -80
      ],
      "id": "61bf256d-4989-4375-854c-829805de615c",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"referencias\": {\n    \"tarefa_id\": \"{{ $json.body.referencias.tarefa_id }}\",\n    \"tenant_id\": \"{{ $json.body.referencias.tenant_id }}\",\n    \"tenant_nome\": \"{{ $json.body.referencias.tenant_nome }}\",\n    \"tenant_domain\": \"{{ $json.body.referencias.tenant_domain }}\",\n    \"tenant_schema\": \"{{ $json.body.referencias.tenant_schema }}\"\n  },\n  \"sistema_origem\": {\n    \"servidor\": \"{{ $json.body.sistema_origem.servidor }}\",\n    \"porta_soap\":{{ $json.body.sistema_origem.porta_soap }},\n    \"porta_rest\": {{ $json.body.sistema_origem.porta_rest }},\n    \"autorizacao\": \"{{ $json.body.sistema_origem.autorizacao }}\",\n    \"coligada\": {{ $json.body.sistema_origem.coligada }}\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        16
      ],
      "id": "879c9223-e03a-4f4d-a6b9-c6cf045bd57f",
      "name": "Credenciais"
    },
    {
      "parameters": {
        "queue": "prod_painelintegracao_ferias",
        "options": {
          "headers": {
            "header": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "jsonParseBody": true,
          "onlyContent": true,
          "parallelMessages": 3
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        112
      ],
      "id": "b32d0b79-e418-48a4-8b14-b6ed46044d02",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "HLRdbyi6jq8xkCIj",
          "name": "RabbitMQ Produção"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        -80
      ],
      "id": "3d3d4b76-8d1a-4bfb-8794-37fcd9cc555f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"body\": {\n\"referencias\": {\n\"tarefa_id\": \"000000\",\n\"tenant_id\": \"13\",\n\"tenant_nome\": \"Segalas Alimentos Ltda\",\n\"tenant_domain\": \"s443dirhect.mazars.com.br\",\n\"tenant_schema\": \"S443\"\n},\n\"sistema_origem\": {\n\"servidor\": \"https://172.16.60.23\",\n\"porta_soap\": 8051,\n\"porta_rest\": 8051,\n\"autorizacao\": \"Basic bWVzdHJlOkZNQDIwMjQ=\",\n\"coligada\": 443\n},\n\"data_modificacao\": \"1900-11-10\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -928,
        -80
      ],
      "id": "d0673726-dbab-42a9-90be-ad924cc779a6",
      "name": "Credenciais1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Estatistica').item.json.entidade }}",
                    "rightValue": "Feriasperiodoaquisitivo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ba7be7e0-507b-4c47-913c-e9fcc337d351"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feriasperiodoaquisitivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "de0eb60c-8a8b-4a3b-81ee-9b9616e2563d",
                    "leftValue": "={{ $('Estatistica').item.json.entidade }}",
                    "rightValue": "Feriasperiodogozo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Feriasperiodogozo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18418253-ed7d-4f85-8cdb-a942f6c26143",
                    "leftValue": "={{ $('Estatistica').item.json.entidade }}",
                    "rightValue": "Ausencia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Ausencia"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        416,
        16
      ],
      "id": "6dee359f-3698-4988-9531-19ae203439d8",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/painel_integracao/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigo_tenant",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        192,
        16
      ],
      "id": "d62a5cb2-9d16-42ce-9f9d-7a9a5de2f513",
      "name": "Estatistica",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        -80
      ],
      "id": "55a64f62-575c-4d49-92a0-f1c76f4b42af",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "={{ $('Credenciais').item.json.sistema_origem.servidor }}:{{ $('Credenciais').item.json.sistema_origem.porta_rest }}/api/framework/v1/consultaSQLServer/RealizaConsulta/DRHAPI_FERIASPER/0/P?parameters=CODCOLIGADA%3D{{ $('Credenciais').item.json.sistema_origem.coligada }}%3BDATAMOD%3D1900-09-01",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Credenciais').item.json.sistema_origem.autorizacao }}"
            },
            {
              "name": "COLIGADA",
              "value": "={{ $('Credenciais').item.json.sistema_origem.coligada }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        112
      ],
      "id": "f2f186c2-3d34-4408-9528-bc4fbb9ead6a",
      "name": "HTTP Request2",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/painel_integracao/{{ $('Switch').item.json.id }}/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"domain\" :\"{{ $('Credenciais').item.json.referencias.tenant_domain }}\",\n\"codigo_tenant\": {{ $('Credenciais').item.json.referencias.tenant_id }},\n\"entidade\": \"{{ $('Switch').item.json.entidade }}\",\n\"qtd_sistema_externo\": {{ Array.isArray($json.data) \n  && $json.data.length > 0 \n  && Object.keys($json.data[0] || {}).length > 0 \n    ? $json.data.length \n    : 0 \n}}\n}",
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        -16
      ],
      "id": "df55e33f-f6ad-4872-8dbf-ceeaa17f5258",
      "name": "Estatistica3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        864,
        112
      ],
      "id": "b0fb2184-b7b1-4c6d-b9ba-ea45fe98340c",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/cliente/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        16
      ],
      "id": "14273cc7-bf42-4a85-b2a4-b306371c2217",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "51564569-e1b2-4fa2-9e0f-a7158256842d",
              "leftValue": "={{ $json.id_tenant.id }}",
              "rightValue": "={{ $('Credenciais').item.json.referencias.tenant_id.toNumber() }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -32,
        16
      ],
      "id": "b6f0026e-aa4c-4847-a4ac-e1a1deda1a39",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/painel_integracao/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "codigo_tenant",
              "value": "=383"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        336
      ],
      "id": "75885566-373a-4419-9f9a-262af76d35d1",
      "name": "Estatistica1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Credenciais').item.json.sistema_origem.servidor }}:{{   $('Credenciais').item.json.sistema_origem.porta_rest }}/api/framework/v1/consultaSQLServer/RealizaConsulta/DRHAPI_AFAST/0/P?parameters=COLIGADA%3D{{ $('Credenciais').item.json.sistema_origem.coligada }}%3BDATAMOD%3D{{  $('Credenciais').item.json.data_modificacao ?? '1900-01-01' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Credenciais').item.json.sistema_origem.autorizacao }}"
            },
            {
              "name": "COLIGADA",
              "value": "={{ $('Credenciais').item.json.sistema_origem.coligada }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          },
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        320
      ],
      "id": "6e7e7581-f009-45d8-9285-bd2da1cd7c87",
      "name": "HTTP Request9",
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "id": "f41648cd-d2f7-42e8-9c50-57e7832a316b",
      "name": "Aggregate9"
    }
  ],
  "connections": {
    "TokenDirhect": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Credenciais1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credenciais": {
      "main": [
        [
          {
            "node": "TokenDirhect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credenciais1": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estatistica": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Estatistica3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Estatistica3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Estatistica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Aggregate9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate9": {
      "main": [
        [
          {
            "node": "Estatistica3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5dc33393-1b45-446f-8caf-665350501e23",
  "activeVersionId": "5dc33393-1b45-446f-8caf-665350501e23",
  "versionCounter": 6,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-19T17:24:53.088Z",
      "createdAt": "2025-11-19T17:24:53.088Z",
      "role": "workflow:owner",
      "workflowId": "7VnSE8beJ1Qd75Y1",
      "projectId": "xHWOcXNROkzROIfd",
      "project": {
        "updatedAt": "2025-07-15T02:51:44.702Z",
        "createdAt": "2025-07-15T01:56:41.030Z",
        "id": "xHWOcXNROkzROIfd",
        "name": "Fernando Longato <fernando.longato@ativary.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}