workflows/PRD - Estrutura Organizacional - 3 - Seções - Consome Fila.json
{
  "updatedAt": "2026-01-27T15:11:32.713Z",
  "createdAt": "2025-10-13T16:48:10.135Z",
  "id": "VE7VwQcwjXArIuZW",
  "name": "PRD - Estrutura Organizacional - 3 - Seções - Consome Fila",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"referencias\": {\n    \"tarefa_id\": \"{{ $json.body.referencias.tarefa_id }}\",\n    \"tenant_id\": \"{{ $json.body.referencias.tenant_id }}\",\n    \"tenant_nome\": \"{{ $json.body.referencias.tenant_nome }}\",\n    \"tenant_domain\": \"{{ $json.body.referencias.tenant_domain }}\",\n    \"tenant_schema\": \"{{ $json.body.referencias.tenant_schema }}\"\n  },\n  \"sistema_origem\": {\n    \"servidor\": \"{{ $json.body.sistema_origem.servidor }}\",\n    \"porta_soap\":{{ $json.body.sistema_origem.porta_soap }},\n    \"porta_rest\": {{ $json.body.sistema_origem.porta_rest }},\n    \"autorizacao\": \"{{ $json.body.sistema_origem.autorizacao }}\",\n    \"coligada\": {{ $json.body.sistema_origem.coligada }}\n  },\n  \"data_modificacao\": \"{{ $json.body.data_modificacao }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        384
      ],
      "id": "8a04d0d4-4486-466e-94ca-da87cc589270",
      "name": "Credenciais"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"id_origem\": \"{{ $('SQL').item.json.CODIGO }}\",  \n  \"filial_id_origem\": {{ $('SQL').item.json.CODFILIAL }},\n  \"departamento\": {{ $json.id ?? null }}, \n  \"nome\": \"{{ $('SQL').item.json.DESCRICAO.replace(/\\r?\\n|\\r/g, ' ').trim() }}\",\n  \"descricao\": \"{{ $('SQL').item.json.DESCRICAO.replace(/\\r?\\n|\\r/g, ' ').trim() }}\",\n  \"aceita_colaborador\": {{ $('SQL').item.json.ACEITA_COLABORADOR}}\n\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        96
      ],
      "id": "a684441e-d782-458e-b6a2-d685a0f9ec63",
      "name": "De Para"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n    const cleanedData = {};\n\n    for (const key in item.json) {\n        if (key !== \"id\" && item.json[key] !== \"null\" && item.json[key] !== \"undefined\" && item.json[key] !== null) {\n            cleanedData[key] = item.json[key];\n        }\n    }\n\n    return { \n        json: { \n            id: item.json.id, \n            dados: JSON.stringify(cleanedData) \n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "2a7c39fb-afb1-498a-b1b4-4504a5b1a98d",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $json.referencias.tenant_domain }}/api/app-login/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"username\": \"integracao\",  \"password\": \"J!F@m3a4m5j6\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1568,
        384
      ],
      "id": "cd6d14d1-81c3-460d-801f-a4e70441364e",
      "name": "TokenDirhect"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/secao/bulk-upsert/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{{ $json.dados }}]",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 150
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        256
      ],
      "id": "77867df0-3f00-4b61-998a-8540c864cb23",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ac7972d-2573-4e86-b686-6449ae6d9c22",
              "leftValue": "={{ $json.filial.id_origem.toNumber() }}",
              "rightValue": "={{ $('SQL').item.json.CODFILIAL }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "3898f5cd-6590-4c5b-990b-ad3b240bf91a",
              "leftValue": "={{ $json.id_origem }}",
              "rightValue": "={{ $('SQL').item.json.CODDEPTO }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -672,
        96
      ],
      "id": "ce607ab2-60b1-4e72-a91d-d06faa387d2c",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/departamento/?id_origem={{ $('SQL').item.json.CODDEPTO }}&filial={{ $json.CODFILIAL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer  {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 100
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        96
      ],
      "id": "bb79bb8c-3380-4ca1-9408-58b27b8aa301",
      "name": "Get DEPTO",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Credenciais').item.json.sistema_origem.servidor }}:{{   $('Credenciais').item.json.sistema_origem.porta_rest }}/api/framework/v1/consultaSQLServer/RealizaConsulta/DRHAPI_SECAO/0/P?parameters=CODCOLIGADA%3D{{ $('Credenciais').item.json.sistema_origem.coligada }}%3BDATAMOD%3D1900-01-01",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=['CODCOLIGADA=:CODCOLIGADA','{{ $('Credenciais').item.json.sistema_origem.coligada }}']"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $('Credenciais').item.json.sistema_origem.autorizacao }}"
            },
            {
              "name": "CODCOLIGADA",
              "value": "={{ $('Credenciais').item.json.sistema_origem.coligada }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bc091192-6da1-426f-8567-6c4b0e81556a",
      "name": "SQL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1344,
        384
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2128,
        464
      ],
      "id": "2b4c76d6-ff77-4409-b5c4-0221f00eae23",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "queue": "prod_RH_secoes",
        "options": {
          "headers": {
            "header": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          },
          "jsonParseBody": true,
          "onlyContent": true,
          "parallelMessages": 2
        }
      },
      "type": "n8n-nodes-base.rabbitmqTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        256
      ],
      "id": "23fff6f8-09cf-465d-808f-3d77cb321fb1",
      "name": "RabbitMQ Trigger",
      "credentials": {
        "rabbitmq": {
          "id": "HLRdbyi6jq8xkCIj",
          "name": "RabbitMQ Produção"
        }
      }
    },
    {
      "parameters": {
        "queue": "prod_RH_centrocusto",
        "options": {
          "durable": true,
          "headers": {
            "header": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "a94ede6b-379a-4f36-b5b8-1741e8f03593",
      "name": "RabbitMQ",
      "credentials": {
        "rabbitmq": {
          "id": "HLRdbyi6jq8xkCIj",
          "name": "RabbitMQ Produção"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"body\":{{ $('Credenciais').all()[0].json }}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "1a399e32-a75b-4de4-a57a-b30bc50b8a52",
      "name": "Sequenciar"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f5166a36-6d40-4596-8cfc-e827b192cb99",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2349979f-eb87-4184-958d-3b7e12be2ef6",
              "leftValue": "={{ Object.keys($json).length }} ",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        256
      ],
      "id": "f1a14dd0-7dcf-41d6-87cb-f934b6940a06",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\"body\":{{ $('Credenciais').all()[0].json }}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        288
      ],
      "id": "130334b9-4678-4de4-99dd-8c07c79f18f6",
      "name": "Sequenciar1"
    },
    {
      "parameters": {
        "queue": "prod_RH_centrocusto",
        "options": {
          "durable": true,
          "headers": {
            "header": [
              {
                "key": "x-queue-type",
                "value": "quorum"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        -672,
        288
      ],
      "id": "b45a2162-2825-4f24-ac6c-8a8188c79f17",
      "name": "RabbitMQ1",
      "credentials": {
        "rabbitmq": {
          "id": "HLRdbyi6jq8xkCIj",
          "name": "RabbitMQ Produção"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -944,
        512
      ],
      "id": "19634bd7-a5d1-419d-a621-0b2970cdd97f",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        672,
        256
      ],
      "id": "b701f094-5d65-4464-a25c-ad2845c8939f",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "error.message"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        256
      ],
      "id": "2a09cb2e-1f0c-47bd-8d77-3fc1db233d90",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "batchSize": 300,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        96
      ],
      "id": "96c1fbce-9a9c-4d44-99e0-56d869cfa7c9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n\"body\": {\n\"referencias\": {\n\"tarefa_id\": \"000000\",\n\"tenant_id\": \"13\",\n\"tenant_nome\": \"Segalas Alimentos Ltda\",\n\"tenant_domain\": \"s443dirhect.mazars.com.br\",\n\"tenant_schema\": \"S443\"\n},\n\"sistema_origem\": {\n\"servidor\": \"https://172.16.60.23\",\n\"porta_soap\": 8051,\n\"porta_rest\": 8051,\n\"autorizacao\": \"Basic bWVzdHJlOkZNQDIwMjQ=\",\n\"coligada\": 443\n},\n\"data_modificacao\": \"1900-11-10\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1952,
        464
      ],
      "id": "b29dc9e7-9d04-4b31-bb28-b8c8920d88d0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://{{ $('Credenciais').item.json.referencias.tenant_domain }}/api/sincronizacao/atualiza-status-sincronizacao/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('TokenDirhect').item.json.access }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"schema_name\": \"{{ $('Credenciais').item.json.referencias.tenant_schema }}\",\n  \"tipo_sincronizacao\": \"estrutura\",\n  \"integracao\": \"erro\",\n  \"mensagem\": \"Erro na integração de: Seções. Mensagem: Acionar Administrador\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        512
      ],
      "id": "a8c5c1f4-b015-428a-9cac-f1c7781edb61",
      "name": "erro_para_dirhect"
    }
  ],
  "connections": {
    "Credenciais": {
      "main": [
        [
          {
            "node": "TokenDirhect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "De Para": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TokenDirhect": {
      "main": [
        [
          {
            "node": "SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "De Para",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DEPTO": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "erro_para_dirhect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ Trigger": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequenciar": {
      "main": [
        [
          {
            "node": "RabbitMQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Sequenciar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get DEPTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sequenciar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sequenciar1": {
      "main": [
        [
          {
            "node": "RabbitMQ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Credenciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "erro_para_dirhect": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "RabbitMQ Trigger": [
      {
        "json": {
          "body": {
            "referencias": {
              "tarefa_id": "000000",
              "tenant_id": "67",
              "tenant_nome": "BRASIL BY BUS VIAGENS E SOLUCOES LTDA",
              "tenant_domain": "s431dirhect.mazars.com.br",
              "tenant_schema": "S431"
            },
            "sistema_origem": {
              "servidor": "https://172.16.60.23",
              "porta_soap": 8051,
              "porta_rest": 8051,
              "autorizacao": "Basic bWVzdHJlOkZNQDIwMjQ=",
              "coligada": 431
            },
            "data_modificacao": "2026-01-20"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "9e2cb769-2cc1-4e3d-9f7a-32125a409b80",
  "activeVersionId": "9e2cb769-2cc1-4e3d-9f7a-32125a409b80",
  "versionCounter": 18,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-10-13T16:48:10.135Z",
      "createdAt": "2025-10-13T16:48:10.135Z",
      "role": "workflow:owner",
      "workflowId": "VE7VwQcwjXArIuZW",
      "projectId": "cJj10Rj257oQ172p",
      "project": {
        "updatedAt": "2025-09-07T13:33:24.498Z",
        "createdAt": "2025-09-07T13:31:44.205Z",
        "id": "cJj10Rj257oQ172p",
        "name": "Integração Produção <integracao_producao@dirhect.com.br>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}